body{
background-color:#352355;
}
h1{
text-align:center;
color:brown;
}
#kbfc{
background-color:yellow;
width:40%;
border-style:solid;
border-color:blue;
border-width:3px;
}
#atk{
background-color:maroon;
width:40%;
border-style:solid;
border-color:green;
border-width:3px;
}
#mfc{
background-color:skyblue;
width:40%;
border-style:solid;
border-color:yellow;
border-width:3px;
}
.global{
background-color:white;
width:40%;
border-style:solid;
border-color:black;
border-width:3px;
}