h1{
text-align:center;
}
#one{
background-color:tomato;
width:200px;
height:400px;
float:left;
margin-left:55px;

}
#two{
background-color:dodgerblue;
width:200px;
height:400px;
float:left;
}
#three{
background-color:orange;
width:200px;
height:400px;
float:left;
}
#four{
background-color:mediumseagreen;
width:200px;
height:400px;
float:left;
}
#five{
background-color:violet;
width:200px;
height:400px;
float:left;
}